<p style="color: green"><%= notice %></p>

<%= render @fm_oscillator %>

<div>
  <%= link_to "Edit this fm oscillator", edit_fm_oscillator_path(@fm_oscillator) %> |
  <%= link_to "Back to fm oscillators", fm_oscillators_path %>

  <%= button_to "Destroy this fm oscillator", @fm_oscillator, method: :delete %>
</div>
